$bp-medium: 800px;
$gutter-small: 20px;
$gutter-medium: 4rem;

.content {
  position: relative;
  padding: $gutter-small;

  @media (min-width: $bp-medium) {
    height: 100%;
    column-fill: auto;
    column-gap: $gutter-medium;
    padding: $gutter-medium;
    column-count: 2;
  }

  p {
    font-weight: 300;
    font-size: 18px;

    @media (min-width: $bp-medium) {
      font-size: 1.4vw;
    }

    &:not(:first-of-type) {
      // text-indent: 1.4rem;

      // @media (min-width: $bp-medium) {
      //   text-indent: 4rem;
      // }
    }
  }

  p,
  h1,
  h4 {
    margin-bottom: 1.2rem;
    margin-top: 0;
    line-height: 1.2;

    @media (min-width: $bp-medium) {
      margin-bottom: 1.2vw;
    }
  }

  h1,
  h4 {
    font-family: 'Courgette-Regular';
    font-style: italic;
    font-weight: normal;
    font-size: 20px;

    @media (min-width: $bp-medium) {
      font-size: 1.6vw;
    }
  }

  h4 {
    break-inside: avoid;
  }

  a {
    color: black;
    text-decoration: none;
  }

  footer {
    text-align: right;

    p {
      margin-bottom: 0;
    }

    @media (min-width: $bp-medium) {
      position: absolute;
      bottom: $gutter-medium;
      right: $gutter-medium;
    }
  }

  footer p,
  ol {
    font-size: 14px;
    line-height: 1.2;

    @media (min-width: $bp-medium) {
      font-size: 0.8vw;
    }
  }
}

.contact {
  break-inside: avoid;
}

.footnotes {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    counter-increment: list-counter;

    &:before {
      content: counter(list-counter) ' – ';
    }
  }
}
