@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-Regular.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-Regular.woff2') format('woff2');
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-Italic.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-Italic.woff2') format('woff2');
  font-display: auto;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-Light.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-Light.woff2') format('woff2');
  font-display: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-LightItalic.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-LightItalic.woff2') format('woff2');
  font-display: auto;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-SemiLight.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-SemiLight.woff2') format('woff2');
  font-display: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Zangezi';
  src: url('/fonts/zangezi-web/Zangezi07-SemiLightItalic.woff') format('woff'),
    url('/fonts/zangezi-web/Zangezi07-SemiLightItalic.woff2') format('woff2');
  font-display: auto;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Courgette-Regular';
  src: url('/fonts/Courgette-Regular.woff') format('woff');
  font-display: auto;
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Zangezi";
}

img {
  width: 100%;
  height: auto;
}

body.overlay-visible .info-overlay {
  display: block;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  margin: 0;
  cursor: pointer;
}
